<% if ( locals.quizzes && locals.quizzes.length) { %>
    <% for (let quiz of quizzes) { %>
        <div class="col-4 d-flex flex-column">
            <%- include('quizCard', quiz.dataValues) %>
        </div>
        <% } %>

            <% } else { %>
                <h2 style="margin: auto"> Aucun quiz à afficher </h2>
                <% } %>