<%- include('partials/header') %>

        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h2 class="h1 display-4">Titre du quizz</h2>
            <p class="lead">Description du quizz</p>
            <p class="font-weight-bold">par auteur</p>
            <p class="lead">4 questions</p>
        </div>

        <div class="row">

            <div class="col-3 p-4 text-center">
                <a class="btn btn-block btn-lg tag tag--animaux" href="#">
                    animaux
                </a>
            </div>

            <div class="col-3 p-4 text-center">
                <a class="btn btn-block btn-lg tag tag--gastronomie" href="#">
                    gastronomie
                </a>
            </div>

        </div>

        <div class="row">


            <div class="col-12">
                <label class="badge level level--débutant">Débutant</label>
                <h4>
                    Question 1 ?
                </h4>
                <ul>
                    <li>1. Choix A</li>
                    <li>2. Choix B</li>
                    <li>3. Choix C</li>
                    <li>4. Choix D</li>
                </ul>
            </div>

            <div class="col-12">
                <label class="badge level level--confirmé">Confirmé</label>
                <h4>
                    Question 2 ?
                </h4>
                <ul>
                    <li>1. Choix A</li>
                    <li>2. Choix B</li>
                    <li>3. Choix C</li>
                    <li>4. Choix D</li>
                </ul>
            </div>

            <div class="col-12">
                <label class="badge level level--expert">Expert</label>
                <h4>
                    Question 3 ?
                </h4>
                <ul>
                    <li>1. Choix A</li>
                    <li>2. Choix B</li>
                    <li>3. Choix C</li>
                    <li>4. Choix D</li>
                </ul>
            </div>

            <div class="col-12">
                <label class="badge level level--débutant">Expert</label>
                <h4>
                    Question 4 ?
                </h4>
                <ul>
                    <li>1. Choix A</li>
                    <li>2. Choix B</li>
                    <li>3. Choix C</li>
                    <li>4. Choix D</li>
                </ul>
            </div>

        </div>


<%- include('partials/footer') %>